@use 'sass:color';

@function purpelize($color, $number) {
    $red : color.red($color);
    $red : $red + $number;
    @if($red > 255) {
        $red: 255;
    }
    $green : color.green($color);
    $green : $green - $number;
    @if($green < 0) {
        $green: 0;
    }
    $blue : color.blue($color);
    $blue : $blue + $number;
    @if($blue > 255) {
        $blue: 255;
    }

    @return rgb($red, $green, $blue);
}

@function pinkerize($color, $number) {
    $red : color.red($color);
    $red : $red + $number;
    @if($red > 255) {
        $red: 255;
    }
    $green : color.green($color);
    $green : $green + $number;
    @if ($green > 200) {
        $green: 200;
    }
    $blue : color.blue($color);
    $blue : $blue + $number;
    @if ($blue > 192) {
        $blue: 192;
    }
    
    @return rgb($red, $green, $blue);
}