
@mixin shadow($color: $color-grey) {
    box-shadow: 0rem 0.25rem 1rem darken($color, 10%);
}

@mixin banner--alafrancaise() {
    background-image: url('../assets/images/restaurants/a_la_francaise.jpg');
}

@mixin banner--palette-du-gout() {
    background-image: url('../assets/images/restaurants/La_palette_du_gout.jpg');
}

@mixin banner--la-note-enchantee() {
    background-image: url('../assets/images/restaurants/la_note_enchantee.jpg');
}

@mixin banner--la-delice-des-sens() {
    background-image: url('../assets/images/restaurants/le_delice_des_sens.jpg');
}

@mixin appear($delay_s) {
    animation: Show $delay_s;
}