
/** font-family **/
// Logo & title
$shrikhand: 'Shrikhand', cursive;
// Text
$roboto: 'Roboto', sans-serif;


/** colours **/
$color-primary: #9356DC;
$color-primary-light: lighten($color-primary, 10%);
$color-secondary: #FF79DA;
$color-secondary-light: lighten($color-secondary, 10%);
$color-tertiary: #99E2D0;
$color-grey: rgb(234, 234, 234);
$color-dark-grey: darken($color-grey, 10%);


/** font-weight **/
$regular: 400;
$semi-bold: 600;
$bold: 800;

/** font-size **/
$headline-1: 3rem;
$headline-2: 2rem;
$headline-3: 1.25rem;