
.nav {
    &__shader {
        height: 3px;
        content:'';
        background-image: linear-gradient(to bottom, darken($color-grey, 10%), $color-grey);
    }

    &__headline-2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        background-color: $color-grey;
        color: lighten(black, 20%);
        font-size: $headline-3;
        @media screen and (max-width: 768px) {
            font-size: $headline-2;
        }

        i {
            margin-right: 1.5rem;
        }
    }
    &__container {
        background-color: lighten($color-grey, 5%);
        text-align: center;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;

        &__headline-3 {
            font-size: $headline-1;
            font-weight: $semi-bold;
            width: 60%;
            margin: 0 auto;
            padding-bottom: 1rem;
        }

        &__paragraph {
            color: #555;
            font-size: 1.5rem;
            width: 70%;
            margin: 0 auto;
            padding-bottom: 2rem;
        }
    }
}

.body-main {
    @media screen and (min-width: 768px) {
        display: flex;
        max-width: 120rem;
        margin: 0 auto;
    }
}

.aside {
    width: 100%;
    padding: 4.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;

    &__headline-2 {
        font-size: $headline-1;
        @media screen and (min-width: 768px) {
            font-size: $headline-2;
            margin-left: 2rem;
        }
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    @media screen and (min-width: 768px) {
        flex: 1;
    }

    // .aside__list
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 768px) and (max-width: 770px)
        {
            margin: 2rem;
            margin-right: 0rem;
        }

        // .aside__list__item
        &__item {
            background-color: lighten($color-grey, 5%);
            padding: 2rem 3rem;
            margin-bottom: 2rem;
            border-radius: 1.5rem;

            @media screen and (min-width: 768px) and (max-width: 770px)
            {
                padding: 1rem 1.5rem;
            }
            @include shadow(darken($color-grey, 10%));
            list-style-type: none;
            font-size: 1.5rem;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            align-items: center;

            i {
                color: #777;
                font-size: 1.5rem;
                width: 3rem;
            }

            .numero {
                margin-left: -4rem;
                margin-right: 2rem;
                border-radius: 50%;
                padding: 0.25rem 0.75rem;
                background-color: $color-primary;
                color: #ddd;
            }

            &:hover>i, &:focus>i, &:active>i {
                color: $color-primary;
                
            }

            &:hover, &:focus, &:active {
                background-color: purpelize(lighten($color-grey, 5%), 10);
            }
        }
    }
}

.main-index {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: lighten($color-grey, 5%);

    width: 100%;
    padding: 4.5rem 2rem;
    @media screen and (min-width: 768px) {
        flex: 2.5;
        background-color: white;
    }

    &__headline-1 {
        font-size: $headline-1;
        @media screen and (min-width: 768px) {
            font-size: $headline-2;
            margin-left: 2rem;
        }
        
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    // .main__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        align-items: center;

        .restaurant {
            display: block;
            cursor: pointer;
            overflow: hidden;
            background-color: white;
            border-radius: 1rem;
            margin-bottom: 1.5rem;
            @media screen and (min-width: 768px) {
                flex: 1;
                margin: 2rem;
                min-width: 30rem;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            @include shadow(darken($color-grey, 10%));

            &__img {
                background-image: url('../assets/images/restaurants/mini/La_palette_du_gout.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 18rem;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                position: relative;

                .absolute {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
            }

            &__description {
                padding: 1.5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-size: 2rem;
                    @media screen and (min-width: 768px) {
                        font-size: 1.5rem;
                    }
                    text-transform: capitalize;
                    margin-bottom: 0.5rem;
                }

                .place {
                    font-size: 1.5rem;
                    
                    color: #666;
                }
            }
        }

        .restaurant:nth-of-type(4) {
            .restaurant__img {
                background-image: url('../assets/images/restaurants/mini/le_delice_des_sens.jpg');
            }
        }

        .restaurant:nth-of-type(2) {
            .restaurant__img {
                background-image: url('../assets/images/restaurants/mini/la_note_enchantee.jpg');
            }
        }

        .restaurant:nth-of-type(3) {
            .restaurant__img {
                background-image: url('../assets/images/restaurants/mini/a_la_francaise.jpg');
            }
        }
    }
}

