

.alafrancaise {
    @include banner--alafrancaise;
}

.palette-du-gout {
    @include banner--palette-du-gout;
}

.la-note-enhantee {
    @include banner--la-note-enchantee;
}

.le-delice-des-sens {
    @include banner--la-delice-des-sens;
}

.banner {
    width: 100%;
    height: 29rem;
    margin-bottom: -6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        width: auto;
        height: 124rem;
        margin-bottom: -124rem;
    }
}

.main-restaurant {
    background-color: $color-grey;

    @media screen and (min-width: 768px) {
        background-color: transparent;
    }

    width: 100vw;
    padding: 4.5rem 2rem;

    &.border-radius {
        border-top-left-radius: 6rem;
        border-top-right-radius: 6rem;
    }
    
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        position: relative;

        &__headline-1 {
            font-family: $shrikhand;
            font-size: 3.5rem;
            font-weight: 500;
            @media screen and (min-width: 768px) {
                width: 100%;
                color: white;
                text-align: center;
            }
        }

        .btn {
            @media screen and (min-width: 768px) {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        

        .icon {
            font-size: 3rem;
            color: #666;

            @media screen and (min-width: 768px) {
                color: white;
            }
        }
    }
}