

.delay-show {
    // 1.5s
    animation: Show 1.5s forwards;
    opacity: 0; 
}

.delay-hide {
    // 1.5s
    animation: Hide 1.5s forwards;
    opacity: 1; 
}

.appear-03 {
    // 1.5 + 0.3
    @include appear(1.8s);
}

.appear-06 {
    // 1.5 + 0.6
    @include appear(2.1s);
}

.appear-09 {
    // 1.5 + 0.9
    @include appear(2.4s);
}

.appear-12 {
    // 1.5 + 1.2
    @include appear(2.7s);
}

.appear-15 {
    // 1.5 + 1.2
    @include appear(3s);
}

.appear-18 {
    // 1.5 + 1.8
    @include appear(3.3s);
}

.appear-21 {
    // 1.5 + 2.1
    @include appear(3.6s);
}

.appear-24 {
    // 1.5 + 2.4
    @include appear(3.9s);
}

.appear-27 {
    // 1.5 + 2.7
    @include appear(4.2s);
}

