
.btn {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;

    &.btn--primary {
        color: white;
        background-image: linear-gradient(to top, $color-primary, $color-secondary);
        font-weight: bold;
        border-radius: 2rem;
        border: none;
        transition: all .25s ease-in-out;

        &.btn--lighten:hover {
            background-image: linear-gradient(to top, $color-primary-light, $color-secondary-light);
            @include shadow(#888);
        }
    }

    &.btn--green {
        color: rgb(0, 135, 102);
        background-color:  rgb(153, 226, 208);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        &.btn--lighten:hover {
            background-color: lighten(rgb(153, 226, 208), 7%);
            @include shadow(#888);
        }
    }
    
    &.btn--hidden {
        display: none;
    }

    &.btn--scale-up:hover {
        transform: scale(1.1);
    }
}


.btn--like{
    display: none;

    &+label {
        cursor: pointer;

        .far.fa-heart, .fa.fa-heart {
            font-size: 3rem;
        }

        .far.fa-heart{
            display: block;
            color: #999;
        }
    
        .fa.fa-heart{
            display: none;
        }
    }

    &:checked+label {
        .far.fa-heart{
            display: none;
        }

        .fa.fa-heart{
            display: block;
            width: 3rem;
            height: 3rem;
            background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
            //background: linear-gradient(to top left, $color-primary, $color-secondary);
            -webkit-background-clip: text;
            //background-clip: text;
            -webkit-text-fill-color: transparent;
            transform-origin: 50% 0%;
            animation: progress-y 1s ease-in-out, scale-up 1s ease-in-out;
        }
    }
}

.spinner {
    font-size: 3rem;
    color: $color-primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
