
@keyframes Show {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes Hide {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes overflow {
    to  {
        overflow-y:scroll;
    }
}

@keyframes scale-up {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

@keyframes progress-y {
    0% { opacity: 0; }
    40% { opacity: 0.2; }
    100% { opacity: 1; }
}