
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $roboto;
    font-size: 10px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    animation: overflow 0s 1.5s forwards;
    position: relative;
}

li {
    list-style-type: none;
}

a, a:visited, a:active, a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

fieldset {
    border: none;
}

.display-none {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
}

