
.header {
    width: 100%;

    &__headline-1 {
        font-family: $shrikhand;
        font-size: 3rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
        position: relative;

        .icon {
            position: absolute;
            top: 40%;
            left: 5%;
            font-size: 2.5rem;
        }
    }
}

.menu {
    width: 100%;
    max-width: 120rem;

    @media screen and (min-width: 120rem) {
        margin: 0 auto;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .radio {
        width: 100%;
        //max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__headline-2 {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 500;
            color: #666;
            margin-bottom: 0.5rem;
            margin-top: 4rem;
            align-self: flex-start;

            @media screen and (min-width: 768px) {
                color: #fff;
                align-self: center;
            }
        }

        .line {
            height: 3px;
            width: 5rem;
            background-color: $color-tertiary;
            margin-bottom: 1.5rem;
            align-self: flex-start;
        }

        &__label {
            width: 100%;
            @media screen and (max-width: 350px) {
                width: 90%;
            }
            height: 100%;
            max-width: 60rem;
            min-width: 30rem;

            @media screen and (max-width: 280px) {
                min-width: 28rem;
                border-radius: 0;
            }
            background-color: white;

            @media screen and (min-width: 768px) {
                background-color: rgba(255, 255, 255, 0.85);
            }

            border-radius: 1.5rem;
            margin-bottom: 1.5rem;
            cursor: pointer;
            @include shadow;
            display: flex;
            position: relative;
            overflow: hidden;

            .dish {
                width: 100%;
                height: 100%;
                padding: 1rem;
                
                &__name {
                    font-size: 1.75rem;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
    
                &__details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.5rem;
                    margin-top: 1rem;
                    
                    &__remark {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #666;
                        white-space: nowrap;
                        max-width: 85%;
                    }
                }
            }

            .status {
                font-size: 2rem;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -5rem;
                width: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1rem;
                background-color: $color-tertiary;
                color: white;
                transition: transform 0.5s;
            }
        }

        input[type=radio] {

            &:checked+.radio__label {
                .dish__details__price {
                    transform: translateX(-5rem);
                    transition: transform 0.5s;
                }

                .dish__details__remark {
                    @media screen and (max-width: 768px) {
                        max-width: 75%;
                    }
                    @media screen and (max-width: 400px) {
                        max-width: 65%;
                    }
                }

                .dish__name {
                    @media screen and (max-width: 768px) {
                        max-width: 85%;
                    }
                    @media screen and (max-width: 400px) {
                        max-width: 75%;
                    }
                }

                .status {
                    transform: translate(-100%, 0);
                    padding-bottom: 1rem;
                    background-color: $color-tertiary;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: transform 0.5s;

                    i {
                        transform: rotate(1turn);
                        transition: transform .5s;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__headline-2 {
        font-size: 2rem;
        font-weight: 200;
        font-family: $shrikhand;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    .line-vertical {
        content: '';
        width: 2px;
        height: 8rem;
        margin-left: 9rem;
        margin-right: 3rem;
        background-color: rgba(122, 122, 122, 0.356);

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item {
            margin-bottom: 1rem;
            font-size: 1.25rem;
            cursor: pointer;

            &:hover {
                font-weight: bold;
            }

            i {
                width: 2rem;
            }
        }
    }
}
